<!DOCTYPE html>
<html>
	<head>
		<title>Share with Friends</title>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		<script src="/javascripts/angularApp.js"></script>
		<script src="/javascripts/jquery.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link href="/stylesheets/style.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<style> .glyphicon-thumbs-up { cursor:pointer } </style>
	</head>
	
	<body ng-app="shareWithFriends">
		<script type="text/ng-template" id="/home.html">
			<section class="container-fluid">
				<div class="page-header">
					<h1>Share with Friends</h1>
				</div>

				<div ng-repeat="post in posts | orderBy: '-upvotes'">
					<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
					{{post.upvotes}}
					<span class="glyphicon glyphicon-thumbs-down" ng-click="downvote(post)"></span>
					<span style="font-size:20px;">
						<a ng-show="post.link" href="{{post.link}}">
							{{post.title}}
						</a>
						<span ng-hide="post.link">
							{{post.title}}
						</span>
					</span>
					<span>
						<a href="#/posts/{{post._id}}">Comments</a>
					</span>
					<button ng-click="deletePost(post)" class="btn btn-primary">Delete</button>
				</div>
		
				<form ng-submit="addPost()">
					<h3>Share Links with Friends Below</h3>
	
					<div class="form-group">
						<input type="text" 
						class="form-control" 
						placeholder="Title" 
						ng-model="title"></input>
					</div>
					<div class="form-group">
						<input type="text" 
						class="form-control"
						placeholder="Link" 
						ng-model="link"></input>
					</div>
					<button type="submit" class="btn btn-primary">Post</button>
				</form>
			</section>
		</script>

		<script type="text/ng-template" id="/about.html">
			<div ng-include src="'/partials/nav.html'"></div>
			
				<div class="hero">
					<div class="carousel-content">
						<h1 class="tagline">Share with Friends</h1>
						<button class="share-button"><a href="#/posts">Join Here</a></button>
					</div>
				</div>
			
			<section class="container-fluid">
					<div class="page-header">
						<h1>Make Sharing, Easy</h1>
					</div>
					<div class="icon-row">
						<div class="col-md-4 features">
							<img src="https://www.iconexperience.com/_img/i_collection_png/512x512/plain/globe.png">
						</div>
						<div class="col-md-4 features">
							<img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/29.Mac-512.png">
						</div>
						<div class="col-md-4 features">
							<img src="http://icons.iconarchive.com/icons/icons8/windows-8/512/Very-Basic-Binoculars-icon.png">
						</div>
					</div>
					<div id="featuresDescriptions" class="row">
						<div class="col-md-4 communityManagement">
							<h3>Community</h3>
							<p>Lorem Ipsum</p>
						</div>
						<div class="col-md-4 communityManagement">
							<h3>Community</h3>
							<p>Lorem Ipsum</p>
						</div>
						<div class="col-md-4 communityManagement">
							<h3>Community</h3>
							<p>Lorem Ipsum</p>
						</div>
					</div>
			</section>
			<section id="projectsWorkedOn" class="container-fluid">
				<div class="image-container col-md-5 col-sm-4 pull-left">
					<div class="background-image-holder"></div>
				</div>
				<div class="text-container col-md-7">
					<h3>Sharing, Made Easy</h3>
					<p class="lead">A new social network to make sharing among colleagues easier than ever before.</p>
					<div id="listOfProjects" class="row">
						<div class="col article article=icon-left">
							<div class="article-section">
								<h6>Sharing Daily</h6>
								<p>A new way to share, super easily. It's great.</p>
							</div>
						</div>
						<div class="col article article=icon-left">
							<div class="article-section">
								<h6>Sharing Daily</h6>
								<p>A new way to share, super easily. It's great.</p>
							</div>
						</div>
						<div class="col article article=icon-left">
							<div class="article-section">
								<h6>Sharing Daily</h6>
								<p>A new way to share, super easily. It's great.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="container-fluid">
				<div id="communitiesWorkedWith" class="row">
					<h4 class="lead">Adopted by Noted Communities</h4>
				</div>
				<div class="client-row">
					<div class="col-md-4 companies">
						<img src="https://www.kickstarter.com/download/kickstarter-logo-k-color.png">
					</div>
					<div class="col-md-4 companies">
						<img src="https://www.teacherspayteachers.com/apple-touch-icon-144x144-precomposed.png">
					</div>
					<div class="col-md-4 companies">
						<img src="http://a5.mzstatic.com/nz/r30/Purple62/v4/b2/de/fa/b2defa2a-69dd-2bf6-bc8f-072eb7ec16c6/icon175x175.png">
					</div>
				</div>
			</section>
			<section id="primaryTestimonials" class="container-fluid">
				<div class="container">
					<div class="row">
						<ul class="slides">
							<li class="testimonial">
								<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
								<span class="author">Bob Dole</span>
							</li>
							<li class="testimonial">
								<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
								<span class="author">Bob Dole</span>
							</li>
							<li class="testimonial">
								<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
								<span class="author">Bob Dole</span>
							</li>
						</ul>
					</div>
				</div>
			</section>
			<section id="jqueryMenus" class="container fluid">
				<div id="accordion">
  					<h3>Section 1</h3>
  						<div>
    					<p>
    						Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
    						ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
    						amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
    						odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
    					</p>
  					</div>
  				<h3>Section 2</h3>
  					<div>
    					<p>
    						Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
    						purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
    						velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
    						suscipit faucibus urna.
    					</p>
  					</div>
  				<h3>Section 3</h3>
  					<div>
    					<p>
    						Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis.
    						Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero
    						ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis
    						lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
    					</p>
    					<ul>
      						<li>List item one</li>
      						<li>List item two</li>
      						<li>List item three</li>
    					</ul>
  					</div>

				<h3>Section 4</h3>
  					<div>
    					<p>
    						Cras dictum. Pellentesque habitant morbi tristique senectus et netus
    						et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in
    						faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia
    						mauris vel est.
    					</p>
    					<p>
    						Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
    						Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
    						inceptos himenaeos.
    					</p>
  					</div>
				</div>

			</section>
			<footer>
				<div class="footer-inner">
					<div class="footer-main-container">
						<div class="grid">
							<ul class="row top-section-clear">
								<li id="footerColumns" class="col-md-3">
									<h4>About</h4>
										<p>Lorem Ipsum</p>
										<p>Lorem Ipsum</p>
										<p>Lorem Ipsum</p>
										<p>Lorem Ipsum</p>
								</li>
								<li id="footerColumns" class="col-md-3">
									<h4>Company</h4>
										<p>Lorem Ipsum</p>
										<p>Lorem Ipsum</p>
										<p>Lorem Ipsum</p>
										<p>Lorem Ipsum</p>
								</li>
								<li id="footerColumns" class="col-md-3">
									<h4>Resources</h4>
										<p>Lorem Ipsum</p>
										<p>Lorem Ipsum</p>
										<p>Lorem Ipsum</p>
										<p>Lorem Ipsum</p>
								</li>
								<li id="footerColumns" class="col-md-3">
									<h4>Mobile</h4>
									<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Download_on_the_App_Store_Badge.svg/800px-Download_on_the_App_Store_Badge.svg.png">
									<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Get_it_on_Google_play.svg/2000px-Get_it_on_Google_play.svg.png">
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</script>

		<script type="text/ng-template" id="/posts.html">
			<section class="container-fluid">
			<div class="page-header">
				<h3>
					<a ng-show="post.link" href="{{post.link}}">
						{{post.title}}
					</a>
					<span ng-hide="post.link">
						{{post.title}}
					</span>
					
					<div class="btn-group" uib-dropdown is-open="status.isopen">
      					<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        					Button dropdown <span class="caret"></span>
      					</button>
      					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        					<li role="menuitem"><a href="#/posts">Home</a></li>
        					<li role="menuitem"><a href="#/about">about Page</a></li>
        					<li role="menuitem"><a href="#">Something else here</a></li>
        					<li class="divider"></li>
        					<li role="menuitem"><a href="#">Separated link</a></li>
      					</ul>
    				</div>
				</h3>
			</div>

			<div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
				<span class="glyphicon glyphicon-thumbs-up"
				ng-click="upvote(comment)"></span>
				{{comment.upvotes}}
				<span style="font-size:20px; margin-left:10px;">
					{{comment.body}}
				</span>
			</div>


			<form ng-submit="addComment()"
 		    style="margin-top:30px;">
    			<h3>Add a new comment</h3>

    			<div class="form-group">
      				<input type="text"
      				class="form-control"
      				placeholder="Comment"
      				ng-model="body"></input>
    			</div>
    			<button type="submit" class="btn btn-primary">Post</button>
  			</form>

  			<uib-accordion close-others="oneAtATime">
    <div uib-accordion-group class="panel-default" heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      This content is straight in the template.
    </div>
    <div uib-accordion-group class="panel-default" heading="{{group.title}}" ng-repeat="group in groups">
      {{group.content}}
    </div>
    <div uib-accordion-group class="panel-default" heading="Dynamic Body Content">
      <p>The body of the uib-accordion group grows to fit the contents</p>
      <button type="button" class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
      <div ng-repeat="item in items">{{item}}</div>
    </div>
    <div uib-accordion-group class="panel-default" heading="Custom template" template-url="group-template.html">
      Hello
    </div>
    <div uib-accordion-group class="panel-default" is-open="status.isCustomHeaderOpen" template-url="group-template.html">
      <uib-accordion-heading>
        Custom template with custom header template <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
      </uib-accordion-heading>
      World
    </div>
    <div uib-accordion-group class="panel-danger" heading="Delete account">
      <p>Please, to delete your account, click the button below</p>
      <button class="btn btn-danger">Delete</button>
    </div>
    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading>
        I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      This is just some content to illustrate fancy headings.
    </div>
  </uib-accordion>
  		</section>
		</script>





	<div class="row">
     		<ui-view></ui-view>
  	</div>
	

	</body>
</html>