<!DOCTYPE html>
<html>
	<head>
		<title>Share with Friends</title>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		<script src="/javascripts/angularApp.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<style> .glyphicon-thumbs-up { cursor:pointer } </style>
	</head>
	<body ng-app="shareWithFriends">
		<script type="text/ng-template" id="/home.html">
			
				<div class="page-header">
					<h1>Share with Friends</h1>
				</div>

				<div ng-repeat="post in posts | orderBy: '-upvotes'">
					<span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span>
					{{post.upvotes}}
					<span style="font-size:20px; margin-left: 10px;">
						<a ng-show="post.link" href="{{post.link}}">
							{{post.title}}
						</a>
						<span ng-hide="post.link">
							{{post.title}}
						</span>
					</span>
					<span>
						<a href="#/posts/{{post._id}}">Comments</a>
					</span>
					<button ng-click="deletePost(post)" class="btn btn-primary">Delete</button>
				</div>
		
				<form ng-submit="addPost()" style="margin-top:30px;">
					<h3>Share Links with Friends Below</h3>
	
					<div class="form-group">
						<input type="text" 
						class="form-control" 
						placeholder="Title" 
						ng-model="title"></input>
					</div>
					<div class="form-group">
						<input type="text" 
						class="form-control"
						placeholder="Link" 
						ng-model="link"></input>
					</div>
					<button type="submit" class="btn btn-primary">Post</button>
				</form>
		</script>

		<script type="text/ng-template" id="/posts.html">
			<div class="page-header">
				<h3>
					<a ng-show="post.link" href="{{post.link}}">
						{{post.title}}
					</a>
					<span ng-hide="post.link">
						{{post.title}}
					</span>
					
					<div class="btn-group" uib-dropdown is-open="status.isopen">
      					<button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        					Button dropdown <span class="caret"></span>
      					</button>
      					<ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        					<li role="menuitem"><a href="#/posts">Action</a></li>
        					<li role="menuitem"><a href="#/posts/58362bfa25674eb082e7904d">Another action</a></li>
        					<li role="menuitem"><a href="#">Something else here</a></li>
        					<li class="divider"></li>
        					<li role="menuitem"><a href="#">Separated link</a></li>
      					</ul>
    				</div>	
					<span style="font-size:20px; margin-left:500px;"><a href="#/posts">Home</a></span>
				</h3>
			</div>

			<div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
				<span class="glyphicon glyphicon-thumbs-up"
				ng-click="upvote(comment)"></span>
				{{comment.upvotes}}
				<span style="font-size:20px; margin-left:10px;">
					{{comment.body}}
				</span>
			</div>


			<form ng-submit="addComment()"
 		    style="margin-top:30px;">
    			<h3>Add a new comment</h3>

    			<div class="form-group">
      				<input type="text"
      				class="form-control"
      				placeholder="Comment"
      				ng-model="body"></input>
    			</div>
    			<button type="submit" class="btn btn-primary">Post</button>
  			</form>



		</script>



	<div class="row">
    	<div class="col-md-6 col-md-offset-3">
     		<ui-view></ui-view>
    	</div>
  	</div>
	

	</body>
</html>