<section class="nav">
				<nav id="topNavBar" class="navbar navbar-fixed-top container-fluid">
					<div class="container-fluid">
						<div class="navbar-header">
							<a href="http://www.skillshare.com/" title="Skillshare" class="logo">
								<img class="logo-image" src="https://static.skillshare.com/assets/images/logo-header.svg?_=0">
							</a>
						</div>
							<ul class="nav navbar-nav navbar-right">
								<li class="nav-item">
									<a id="navBlog" class="nav-link navLink" href="www.kickstarter.com">Blog</a>
								</li>
								<li class="nav-item">
									<a id="navFaq" class="nav-link navLink" href="www.kickstarter.com">FAQ</a>
								</li>
								<li class="nav-item">
									<a id="navLogin" class="nav-link navLink" href="www.kickstarter.com">Login</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</section>